- name: Ensure .ssh directory exists on workers
  file:
    path: /home/ubuntu/.ssh
    state: directory
    mode: '0700'
    owner: ubuntu
    group: ubuntu

- name: Add master's Ed25519 public key to authorized_keys
  authorized_key:
    user: ubuntu
    state: present
    key: "{{ lookup('file', '../keys/master_cluster_id_ed25519.pub') }}"
