- name: Format hdfs namenode
  script: ./format_hdfs.sh
  become: no


- name: Generate SSH key on master if not exists
  openssh_keypair:
    path: /home/ubuntu/.ssh/id_ed25519
    type: ed25519
    size: 4096
    owner: ubuntu
    group: ubuntu
    mode: '0600'

- name: Fetch master's public key
  fetch:
    src: /home/ubuntu/.ssh/id_ed25519.pub
    dest: ../keys/master_cluster_id_ed25519.pub
    flat: yes
    
- name: Add master's Ed25519 public key to its own authorized_keys
  authorized_key:
    user: ubuntu
    state: present
    key: "{{ lookup('file', '../keys/master_cluster_id_ed25519.pub') }}"
