- name: Start Spark and HDFS
  hosts: master
  user: ubuntu
  vars_files:
    - ../vars/main.yml
  tasks:
    - name: start hdfs
      script: start_hdfs.sh
      environment:
        JAVA_HOME: "{{ java_home }}"
        HADOOP_HOME: "{{ hadoop_home }}"
        SPARK_HOME: "{{ spark_home }}"
    - name: start Spark
      script: start_spark.sh
      environment:
        JAVA_HOME: "{{ java_home }}"
        HADOOP_HOME: "{{ hadoop_home }}"
        SPARK_HOME: "{{ spark_home }}"
